@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 20rem;
  
  --font-text: 'Roboto Mono', 'monospace';
  --font-display: 'Roboto', 'sans-serif';
  --font-fancy: 'Mea Culpa', 'cursive';
  
  /* -----------------Global------------------- */
  
  
  /*--- Light Mode ---*/
  --color-mainbg: #FBFAF0;
  --color-mainyellow: #F3FF00;
  --color-mainpink: #F991CC;
  --color-mainteal: #0AA9D0;
  --color-maintext: #646464;
  --color-maingrey: #E0E0E0;
  --color-maindark: #0B0A07;
  
  
  /*--- Dark Mode ---*/
  
  --color-darkbg: #0B0A07;
  --color-darkyellow: #F3FF00;
  --color-darkpink: #F991CC;
  --color-darkteal: #0AA9D0;
  --color-darktext: #646464;
  --color-darklight: #FBFAF0;
  --color-darkgrey: #E0E0E0;
  
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

html, 
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  @apply bg-mainbg dark:bg-maindark text-maintext dark:text-darklight;
}

/* ---Typopgrahy--- */

.headline {
  font-family: "Roboto Condensed", sans-serif;
  @apply text-4xl font-normal uppercase pb-4;
}

.headline-fancy {
  @apply font-fancy text-7xl text-mainpink dark:text-darkteal normal-case;
}

/* -------------------Navbar Styling --------------------*/

.nav-text {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 9%;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  @apply text-maindark dark:text-darklight;
}

/* ------------------- XXXXXXXXXXXXXXX HOVER UNDERLINES NEED TO BE FIXED IN NAV SECTION XXXXXXXXXXXXXX --------------------*/

.nav-text::after {
  @apply bg-mainpink dark:bg-darkyellow;
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  transition: transform 0.25s ease-out;
}

.nav-text:hover::after {
  transform: scaleX(1);
}

.nav-text.left::after {
  transform-origin: bottom right;
}

.nav-text.left:hover::after {
  transform-origin: bottom left;
}

.nav-cta {
  color: var(--color-darklight);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 9%;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 0px;
  padding: 10px 30px;
  @apply bg-mainpink border-mainpink dark:border-darkyellow dark:bg-darkyellow dark:text-darkbg;
}

.nav-cta:hover {
  border: 1px solid;
  border-style: inset;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-out allow-discrete;
  @apply text-mainpink dark:text-darkyellow bg-mainbg dark:bg-darkbg border-mainpink dark:border-darkyellow;
}

/* -------------------Hero Section --------------------*/

.hero-headline {
  @apply font-display text-maindark dark:text-darklight uppercase font-normal text-6xl leading-9 md:text-8xl md:leading-[6rem] lg:text-9xl lg:leading-[7rem] xl:text-[10rem] xl:leading-[9rem];
}

.hero-headline-thin {
  @apply font-display text-maindark dark:text-darklight uppercase font-thin text-6xl leading-8 md:text-8xl md:leading-[6rem] lg:text-9xl lg:leading-[7rem] xl:text-[10rem] xl:leading-[9rem]; 
}

.hero-headline-fancy {
  @apply font-fancy text-mainpink dark:text-darkyellow text-7xl normal-case md:text-9xl md:leading-[1rem] lg:text-[10rem] lg:leading-[1rem] xl:text-[12rem];
}

.hero-body-text {
  @apply font-text text-maintext dark:text-darklight font-normal leading-7 md:text-xl md:leading-[2.3rem] lg:text-xl lg:leading-[2.5rem] xl:text-2xl xl:leading-[3rem];
}

.two-col-img {
  @apply max-w-[25rem] md:max-w-[30]
}

/* Button Styling */

.button {
  display: block;
  width: 200px;
  height: 50px;
  padding-top:3px;
  line-height: 40px;
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  border: 2px solid;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  text-transform: uppercase;
  @apply text-mainbg dark:text-darkbg bg-mainpink dark:bg-darkyellow border-mainpink dark:border-darkyellow;
}

.button span {
  position: relative;
  z-index: 2;
}

/* ------------------- XXXXXXXXXXXXXXX HOVER BUTTONS IN DARK MODE NEED TO BE FIXED GLOBALLY XXXXXXXXXXXXXX --------------------*/


.button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all .35s;
  @apply bg-mainbg dark:bg-darkbg;
}

.button:hover{
  font-weight: bold;
  @apply text-mainteal dark:text-darkyellow border-mainteal dark:border-darkyellow;
}

.button:hover:after{
  width: 100%;
}

@layer utilities {

  /* Loading Screen Animation */

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}